@page
@model ClubMemberShip.Web.Pages.PageUser.ClubBoardManage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Club board infor</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                  <input asp-for="ClubBoard.Id" value="0" hidden="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="ClubBoard.ClubId" class="control-label"></label>
                <select disabled="disabled" asp-for="ClubBoard.ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
                <input asp-for="ClubBoard.ClubId" value="@Model.ClubId" hidden="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="ClubBoard.Name" class="control-label"></label>
                <input asp-for="ClubBoard.Name" class="form-control" required="required"/>
                <span asp-validation-for="ClubBoard.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubBoard.ShortDecription" class="control-label"></label>
                <input asp-for="ClubBoard.ShortDecription" class="form-control" required="required"/>
                <span asp-validation-for="ClubBoard.ShortDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubBoard.LongDecription" class="control-label"></label>
                <input asp-for="ClubBoard.LongDecription" class="form-control" required="required"/>
                <span asp-validation-for="ClubBoard.LongDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" style="margin-top: 10px" asp-route-clubId="@Model.ClubId">Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}