@page
@model ClubMemberShip.Web.Pages.PageUser.AddNewMemberModel

@{
    Layout = "Shared/_UserLayout";
    ViewData["Title"] = "AddNewMember";
}

<h1>AddNewMember</h1>
<h4>Membership</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Membership.StudentId" class="control-label"></label>
                <select asp-for="Membership.StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="Membership.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.ClubId" class="control-label"></label>
                <select asp-for="Membership.ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
                <span asp-validation-for="Membership.ClubId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Membership.Id" value="@Model.Membership.Id"/>
            @{
                var today = DateTime.Today;
            }
            <div class="form-group">
                <label asp-for="Membership.JoinDate" class="control-label"></label>
                <input asp-for="Membership.JoinDate" value="@today.ToString("yyyy-MM-dd")" class="form-control" readonly="readonly"/>
                <span asp-validation-for="Membership.JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.NickName" class="control-label"></label>
                <input asp-for="Membership.NickName" class="form-control"/>
                <span asp-validation-for="Membership.NickName" class="text-danger" readonly="readonly"></span>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit"  asp-page-handler="Approve" value="Approve" class="btn btn-primary"/>
            </div>
            <div class="form-group" style="margin-top: 10px">
                <input type="submit" asp-page-handler="Reject" value="Reject" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}