@page
@model ClubMemberShip.Present.Pages.PageAdmin.Index
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "Admin";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a asp-page="./AdminMajor/Index"> Major Manager</a> |
    <a asp-page="./AdminGrade/Index">Grade Manager</a> |
    <a asp-page="./AdminClub/Index">Club Manager</a> |
</div>
</body>
</html>