@page
@model ClubMemberShip.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head >
<body>
<div style="margin: 0 auto">
    <h3 style="margin: 0 auto; width: max-content">Login Form</h3>
    <form method="post" asp-page="Index" style="margin: 10px auto; width: max-content">
        <table>
            <tr>
                <td>StudentId</td>
                <td>
                    <input type="text" asp-for="@Model.Id"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div style="margin: 10px auto">
                        <input type="submit" asp-page-handler="Login" value="Login"/>
                        <input type="submit" asp-page-handler="Register" value="Register" required="required"/>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    <h4 style="color: red; margin: 10px auto; width: max-content"> @Model.Msg</h4>
</div>

</body>